{% load staticfiles %}

<html>
    <head>
        {% block title %}
            <title>{{ title }}</title>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css"
                href="{% block cssurl %}{% static css_staticpath %}{% endblock %}" />
        {% endblock %}

        {% block extjs %}
            {% if EXTJS4_DEBUG %}
                <script type="text/javascript" src="{% static "extjs4/ext-debug.js" %}"></script>
            {% else %}
                <script type="text/javascript" src="{% static "extjs4/ext.js" %}"></script>
            {% endif %}
        {% endblock %}

        {% block app %}
            {% if EXTJS4_DEBUG %}
                <script type="text/javascript" src="{% static app_staticpath %}"></script>
            {% else %}
                <script type="text/javascript" src="{% static appall_staticpath %}"></script>
            {% endif %}
        {% endblock %}
    </head>
    <body></body>
</html>
